<h2>Crypto Bundle</h2>
<h4>k2klettern</h4>
<p></p>
<p>How it Works:</p>
<p>Call the CryptoHelper by using the namespace</p>
<p>Symfony example: Initiate the helper class, $helpers = $this->get("crypto.cryptohelper");</p>
<p> To encrypt: $helpers->encrypt("Message to Encrypt", "passphrase", true (true to return a base64); </p>
<p> To decrypt: $helpers->decrypt("qoTnJ1mHslZ3t3S664jrqugEy+dVMIfHFL9ZbOLSe0Eq", "passphrase", true); </p>
